<h1>Olá {{name}}</h1>
<p>Foi solicitado a recuperação de senha no aplicativo {{productName}} da Quinze Automação com seu e-mail.</p>
<p>Se você não solicitou essa recuperação, por favor, ignore essa mensagem. Caso tenha realmente solicitado o reset de senha, clique no link abaixo</p>
<p>{{resetPasswordUrl}}</p>
